.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        test
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          masa
    = link_to "#", class: "main-header__edit-btn" do
      .main-header__edit-btn__edit
        Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker saraken1
        %p.message__upper-info__date 2020/01/28(Tue) 04:32:07
      %p.message__text hi1
    .message
      .message__upper-info
        %p.message__upper-info__talker saraken2
        %p.message__upper-info__date 2020/01/28(Tue) 04:35:07
      %p.message__text hi2
  -# .form
  -#   %form.new_message
  -#     %input.input-box{type: "hidden"}
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         = icon('far', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input{type: "submit", class: "submit-btn", value: "Send"}

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'